/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-size: 48px;
  font-weight: 600;
}

/* header start  */
.full-container {
  background-color: #264653;
  color: white;
}
/* navbar section  */
.navbar {
  background-color: #264653;
}
.logo-img {
  width: 190px;
}
.navbar-toggler {
  background-color: #f15d3c;
  border: none;
  outline: none;
  padding: 10px 6px;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background-color: white;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 12px;
}
.navbar-nav a:hover {
  color: #f15d3c !important;
}
/* heading section  */
.extra-p {
  font-size: 14px;
  font-weight: 600;
}
p {
  font-size: 16px;
  font-weight: 300;
}
.btn {
  background-image: linear-gradient(#f16137, #ee2c69);
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 7px 25px;
}
.modal-title {
  color: #f15d3c;
}
.modal-body {
  color: #264653;
}
/* header end */

/* gray scale img start  */
#feture {
  font-size: 14px;
  font-weight: 600;
  color: #f15d3c;
}

h2 {
  color: #001f2b;
}
#feture {
  display: inline-block;
  position: relative;
}
#feture::after {
  content: "";
  height: 2px;
  width: 50%;
  background-color: #f15d3c;
  position: absolute;
  left: 33px;
  bottom: -7px;
  transition: 0.5s;
}
#feture:hover::after {
  width: 100%;
  left: 0px;
}
.gray-img {
  cursor: pointer;
}
.gray-scale {
  filter: grayscale(100%);
  transition: 1s;
}
.gray-scale:hover {
  filter: grayscale(0%);
}
/* gray scale img end */

/* latest news section start  */
h3 {
  font-weight: 600;
  font-size: 28px;
}
.card {
  border-radius: 10px;
}
.card-footer {
  border-radius: 10px !important;
}
.news-img-4 {
  border-radius: 10px;
}
.different-btn {
  background: none;
  color: #f15d3c;
  border: 1px solid #f15d3c;
}
.different-btn:hover {
  background-image: linear-gradient(#f16137, #ee2c69);
  color: white;
}
/* latest news section end */

/* cleints review section start  */
#clients {
  color: #f15d3c;
}
.fa-star {
  color: #e77c40;
}
#clients-name {
  padding-top: 15px;
  color: #23a6f0;
  font-size: 18px;
  font-weight: 600;
}
#clients-work {
  color: #001f2b;
  font-size: 14px;
  font-weight: 600;
}
#cleint-3 {
  border-radius: 50%;

  border: 2px solid #adb5bd;
}
/* cleints review section end */

/* faq section start  */
.faq-head {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #001f2b;
}
.faq-article {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.accordion-button {
  background-color: ;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}
.accordion-header {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/* faq section end  h2#headingTwo */

/* location section start  */

.loca {
  height: 500px;
}
.location-1 {
  background-color: #264653;
}
.map {
  border: 2px solid #b6b5b5;
  /* position: relative; */
  margin-left: -150px;
  /* left: -150px; */
}
/* location section end */

/* contact section start   */
.contacts {
  background-color: #f2f2f2;
}
.contact {
  border-radius: 7px;
  background-color: white;
}
.con-img {
  border-radius: 7px 0px 0px 7px;
}
.contact-img {
  background: linear-gradient(
      to right,
      rgba(3, 3, 3, 0.78),
      rgba(8, 8, 8, 0.78)
    ),
    url("images/bike-1.png") center center/ cover no-repeat;
}
.single-contact {
  line-height: 10px;
}
.single-contact a {
  color: white;
  text-decoration: none;
}
form > label,
input {
  display: block;
  width: 100%;
  border: 1px solid rgb(165, 165, 165);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 7px;
}
form label {
  font-size: 16px;
  font-weight: 500;
}
form input::placeholder {
  font-weight: 400;
  font-size: 14px;
}
/* contact section end */

/* footer section start  */
footer a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding-right: 40px;
}
footer a:hover {
  color: white;
}
.get {
  font-size: 20px;
  font-weight: 500;
}

/* footer section end  */

/* Mediary query  */
@media screen and (max-width: 600px) {
  .map {
    margin-left: 0px;
  }
  .footer-container {
    position: relative;
  }
  small {
    position: absolute;
    bottom: 0px;
  }
}
